data/TEFLoN2/samples.zip
data/TEFLoN2/samples/2.genotypes.txt
data/TEFLoN2/samples/3.genotypes.txt
data/TEFLoN2/samples/4.genotypes.txt
data/TEFLoN2/samples/5.genotypes.txt
data/TEFLoN2/samples/6.genotypes.txt
data/TEFLoN2/samples/7.genotypes.txt
data/TEFLoN2/samples/8.genotypes.txt
data/TEFLoN2/samples/9.genotypes.txt
data/TEFLoN2/samples/14.genotypes.txt
data/TEFLoN2/samples/15.genotypes.txt
data/TEFLoN2/samples/16.genotypes.txt
data/TEFLoN2/samples/17.genotypes.txt
data/TEFLoN2/samples/18.genotypes.txt
data/TEFLoN2/samples/19.genotypes.txt
data/TEFLoN2/samples/20.genotypes.txt
data/TEFLoN2/samples/21.genotypes.txt
data/TEFLoN2/samples/22.genotypes.txt
data/TEFLoN2/samples/23.genotypes.txt
data/TEFLoN2/samples/24.genotypes.txt
data/TEFLoN2/samples/25.genotypes.txt
data/TEFLoN2/samples/26.genotypes.txt
data/TEFLoN2/samples/27.genotypes.txt
data/TEFLoN2/samples/28.genotypes.txt
data/TEFLoN2/samples/29.genotypes.txt
data/TEFLoN2/samples/30.genotypes.txt
data/TEFLoN2/samples/31.genotypes.txt
data/TEFLoN2/samples/32.genotypes.txt
data/TEFLoN2/samples/33.genotypes.txt
data/TEFLoN2/samples/34.genotypes.txt
data/TEFLoN2/samples/35.genotypes.txt
data/TEFLoN2/samples/36.genotypes.txt
data/TEFLoN2/samples/37.genotypes.txt
data/TEFLoN2/samples/38.genotypes.txt
data/TEFLoN2/samples/39.genotypes.txt
data/TEFLoN2/samples/40.genotypes.txt
data/TEFLoN2/samples/41.genotypes.txt
data/TEFLoN2/samples/42.genotypes.txt
data/TEFLoN2/samples/43.genotypes.txt
data/TEFLoN2/samples/44.genotypes.txt
data/TEFLoN2/samples/45.genotypes.txt
data/TEFLoN2/samples/46.genotypes.txt
data/TEFLoN2/samples/47.genotypes.txt
data/TEFLoN2/samples/48.genotypes.txt
data/TEFLoN2/samples/49.genotypes.txt
data/TEFLoN2/samples/50.genotypes.txt
data/TEFLoN2/samples/51.genotypes.txt
data/TEFLoN2/samples/52.genotypes.txt
data/TEFLoN2/samples/53.genotypes.txt
data/TEFLoN2/samples/54.genotypes.txt
data/TEFLoN2/samples/55.genotypes.txt
data/TEFLoN2/samples/56.genotypes.txt
data/TEFLoN2/samples/57.genotypes.txt
data/TEFLoN2/samples/58.genotypes.txt
data/TEFLoN2/samples/59.genotypes.txt
data/TEFLoN2/samples/60.genotypes.txt
data/TEFLoN2/samples/61.genotypes.txt
data/TEFLoN2/samples/62.genotypes.txt
data/TEFLoN2/samples/63.genotypes.txt
data/TEFLoN2/samples/64.genotypes.txt
data/TEFLoN2/samples/65.genotypes.txt
data/TEFLoN2/samples/66.genotypes.txt
data/TEFLoN2/samples/67.genotypes.txt
data/TEFLoN2/samples/68.genotypes.txt
data/TEFLoN2/samples/69.genotypes.txt
data/TEFLoN2/samples/70.genotypes.txt
data/TEFLoN2/samples/71.genotypes.txt
data/TEFLoN2/samples/72.genotypes.txt
data/TEFLoN2/samples/73.genotypes.txt
data/TEFLoN2/samples/74.genotypes.txt
data/TEFLoN2/samples/75.genotypes.txt
data/TEFLoN2/samples/76.genotypes.txt
data/TEFLoN2/samples/77.genotypes.txt
data/TEFLoN2/samples/78.genotypes.txt
data/TEFLoN2/samples/79.genotypes.txt
data/TEFLoN2/samples/80.genotypes.txt
data/TEFLoN2/samples/81.genotypes.txt
data/TEFLoN2/samples/82.genotypes.txt
data/TEFLoN2/samples/83.genotypes.txt
data/TEFLoN2/samples/84.genotypes.txt
data/TEFLoN2/samples/85.genotypes.txt
data/TEFLoN2/samples/86.genotypes.txt
data/TEFLoN2/samples/87.genotypes.txt
data/TEFLoN2/samples/88.genotypes.txt
data/TEFLoN2/samples/89.genotypes.txt
data/TEFLoN2/samples/90.genotypes.txt
data/TEFLoN2/samples/91.genotypes.txt
data/TEFLoN2/samples/92.genotypes.txt
data/TEFLoN2/samples/93.genotypes.txt
data/TEFLoN2/samples/94.genotypes.txt
data/TEFLoN2/samples/95.genotypes.txt
data/TEFLoN2/samples/96.genotypes.txt
data/TEFLoN2/samples/97.genotypes.txt
data/TEFLoN2/samples/98.genotypes.txt
data/TEFLoN2/samples/99.genotypes.txt
data/TEFLoN2/samples/103.genotypes.txt
data/TEFLoN2/samples/104.genotypes.txt
data/TEFLoN2/samples/105.genotypes.txt
data/TEFLoN2/samples/106.genotypes.txt
data/TEFLoN2/samples/135.genotypes.txt
data/TEFLoN2/samples/136.genotypes.txt
data/TEFLoN2/samples/137.genotypes.txt
data/TEFLoN2/samples/138.genotypes.txt
data/TEFLoN2/samples/139.genotypes.txt
data/TEFLoN2/samples/140.genotypes.txt
data/TEFLoN2/samples/141.genotypes.txt
data/TEFLoN2/samples/142.genotypes.txt
data/TEFLoN2/samples/143.genotypes.txt
data/TEFLoN2/samples/144.genotypes.txt
data/TEFLoN2/samples/145.genotypes.txt
data/TEFLoN2/samples/146.genotypes.txt
data/TEFLoN2/samples/147.genotypes.txt
data/TEFLoN2/samples/148.genotypes.txt
data/TEFLoN2/samples/149.genotypes.txt
data/TEFLoN2/samples/150.genotypes.txt
data/TEFLoN2/samples/151.genotypes.txt
data/TEFLoN2/samples/152.genotypes.txt
data/TEFLoN2/samples/153.genotypes.txt
data/TEFLoN2/samples/154.genotypes.txt
data/TEFLoN2/samples/155.genotypes.txt
data/TEFLoN2/samples/156.genotypes.txt
data/TEFLoN2/samples/157.genotypes.txt
data/TEFLoN2/samples/158.genotypes.txt
data/TEFLoN2/samples/159.genotypes.txt
data/TEFLoN2/samples/160.genotypes.txt
data/TEFLoN2/samples/161.genotypes.txt
data/TEFLoN2/samples/162.genotypes.txt
data/TEFLoN2/samples/163.genotypes.txt
data/TEFLoN2/samples/164.genotypes.txt
data/TEFLoN2/samples/165.genotypes.txt
data/TEFLoN2/samples/166.genotypes.txt
data/TEFLoN2/samples/167.genotypes.txt
data/TEFLoN2/samples/168.genotypes.txt
data/TEFLoN2/samples/169.genotypes.txt
data/TEFLoN2/samples/170.genotypes.txt
data/TEFLoN2/samples/171.genotypes.txt
data/TEFLoN2/samples/172.genotypes.txt
data/TEFLoN2/samples/173.genotypes.txt
data/TEFLoN2/samples/174.genotypes.txt
data/TEFLoN2/samples/175.genotypes.txt
data/TEFLoN2/samples/176.genotypes.txt
data/TEFLoN2/samples/177.genotypes.txt
data/TEFLoN2/samples/178.genotypes.txt
data/TEFLoN2/samples/179.genotypes.txt
data/TEFLoN2/samples/180.genotypes.txt
data/TEFLoN2/samples/181.genotypes.txt
data/TEFLoN2/samples/182.genotypes.txt
data/TEFLoN2/samples/183.genotypes.txt
data/TEFLoN2/samples/184.genotypes.txt
data/TEFLoN2/samples/185.genotypes.txt
data/TEFLoN2/samples/186.genotypes.txt
data/TEFLoN2/samples/187.genotypes.txt
data/TEFLoN2/samples/188.genotypes.txt
data/TEFLoN2/samples/189.genotypes.txt
data/TEFLoN2/samples/190.genotypes.txt
data/TEFLoN2/samples/191.genotypes.txt
data/TEFLoN2/samples/192.genotypes.txt
data/TEFLoN2/samples/193.genotypes.txt
data/TEFLoN2/samples/194.genotypes.txt
data/TEFLoN2/samples/195.genotypes.txt
data/TEFLoN2/samples/196.genotypes.txt
data/TEFLoN2/samples/197.genotypes.txt
data/TEFLoN2/samples/198.genotypes.txt
data/TEFLoN2/samples/199.genotypes.txt
data/TEFLoN2/samples/200.genotypes.txt
data/TEFLoN2/samples/all_samples.genotypes.txt
data/TEFLoN2/samples/all_samples.genotypes2.txt
data/TEFLoN2/samples/pseudoSpace/4.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/11.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/14.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/17.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/29.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/38.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/59.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/70.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/76.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/82.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/83.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/107.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/112.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/149.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/160.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/163.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/166.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/187.pseudoSpace.genotypes.txt
data/TEFLoN2/samples/pseudoSpace/192.pseudoSpace.genotypes.txt
data/RepeatMasker/ngousso_chr_windows10kb_Core.fasta.out
data/.DS_Store
data/.DS_Store
data/RepeatMasker/ngousso_chr.fasta.out
.DS_Store
data/EDTA/*
data/genomes/Ngousso/ngousso_chr_windows10kb_Dispensable.fasta.kimura
data/.DS_Store
data/.DS_Store
