.venv_televizion/*

analyses/*
# analyses/legacy
# analyses/AcolN3/*
# analyses/qqMarElec17/*
# analyses/qqMarElec17_CHR10/*
# analyses/qqMarMung10/*
# analyses/qqMarSpei1/*
# analyses/farm_logs/*

data/*

.DS_Store
data/.DS_Store
data/TEFLoN2/.DS_Store
data/TEFLoN2/samples/.DS_Store

scripts/televizion/__pycache__
scripts/legacy